name: "Back: Lint and Format Validation"

on:
  push:
    paths:
      - "back/**"

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install Dependencies
        working-directory: back
        run: npm install

      - name: Run ESLint
        working-directory: back
        run: npx eslint .'

      - name: Run Prettier Check
        working-directory: back
        run: npx prettier --check .
